@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Pacifico');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('bootstrap/glyphicons-halflings-regular.eot');
  src: url('bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
  font-family: 'Pacifico', cursive;
  background-color: #fff2e6;
}
.jumbotron {
  background-color: #fff2e6;
  color: #009933;
}
p {
  margin-top: 20px;
  color: #333333;
  font-family: 'Encode Sans', sans-serif;
}
.btn {
  color:  #666666;
  font-family: 'Encode Sans', sans-serif;
  font-size: 18px;
  background-color: #fff2e6;
}
.btn:hover {
  color: black;
  border-bottom: 4px solid orange;
}
.btn:active {
  color: black;
  border-bottom: 4px solid orange;
}
h3 {
  font-family: 'Encode Sans', sans-serif;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
    overflow:hidden;
}
.item.active img {
    transition: transform 5000ms linear 0s;
    transform: scale(1.05, 1.05);
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media (max-width:480px) {
  .btn {
    font-size: 12px;
  }
}
